<tr class="<%= 'bg-gray-50' if index.even? %> <%= 'bg-gray-100' if index.odd? %> border-t border-b border-gray-200">
  <td class="px-6 py-4 text-gray-800"><%= creator.name %></td>
  <td class="px-6 py-4 text-gray-800"><%= creator.email %></td>
  <td class="px-6 py-4 text-gray-800">
    <span class="<%= creator.status == 'active' ? 'text-green-500' : 'text-red-500' %>">
      <%= creator.status.capitalize %>
    </span>
  </td>
  <td class="px-6 py-4">
  <%= link_to 'Edit', edit_creator_path(creator), class: 'text-blue-500 hover:text-blue-700' %> |
  <%= link_to 'Show', creator_path(creator), class: 'text-green-500 hover:text-green-700' %> |
  <%= link_to 'Delete', creator_path(creator), method: :delete, data: { turbo: false, confirm: 'Are you sure?' }, class: 'text-red-500 hover:text-red-700' %>
  </td>
</tr>
