<tr id="<%= dom_id(payout) %>" class="<%= 'bg-gray-50' if index.even? %> <%= 'bg-gray-100' if index.odd? %> border-t border-b border-gray-200">
  <td class="px-6 py-4 text-gray-800"><%= payout.id %></td>
  <td class="px-6 py-4 text-gray-800"><%= payout.creator.name %></td>
  <td class="px-6 py-4 text-gray-800"><%= payout.amount %></td>
  <td class="px-6 py-4 text-gray-800">
    <span class="<%= payout.status == 'paid' ? 'text-green-500' : 'text-red-500' %>">
      <%= payout.status.capitalize %>
    </span>
  </td>
  <td class="px-6 py-4">
    <%= link_to('Send Payment', send_payment_payout_path(payout), data: { turbo_frame: dom_id(payout) }, method: :post, class: 'text-blue-500 hover:text-blue-700') unless payout.paid? %>
  </td>
</tr>
